.recipe{
border-radius: 10px;
box-shadow: 0px 5px 20px rgb(71, 71, 71);
margin :20px;
display: flex;
justify-content: column;
background: white;
align-items : center;
min-width: 40%;
min-height: fit-content;
flex-direction: column;


}

.image{
border-radius: 50%;
width: fit-content;
height: fit-content;

}

.footer{
text-align: center;}